In [1]:
import  pandas  as pd
import  numpy  as np
import  matplotlib.pyplot  as plt

In [4]:
census = pd.read_csv('census.csv')
               
census.head()

,census_year,state_fips_code,total_family_income,age,sex,race_general,marital_status,total_personal_income
0,2000,Florida,14550.0,44,Male,Two major races,Married/spouse present,0.0
1,2000,Florida,22800.0,20,Female,White,Never married/single,13000.0
2,2000,Florida,0.0,20,Male,Black,Never married/single,20000.0
3,2000,Florida,23000.0,6,Female,White,Never married/single,NaN
4,2000,Florida,48000.0,55,Male,White,Married/spouse present,36000.0

# Question 1
The are 500 rows and 8 columns.

# Question 2
The variables for this dataset are census_year, age, sex, race_general and marital_status.

# Question 3
Numerical- census_year, total_family_income, age, total_personal_income

Categorical- state_fips_code, sex, race_general, marital_status

**instructor notes**  

1) 2/2

2) missed a few 1/2

3) 2/2