In [15]:
import  pandas  as pd
import  numpy  as np
import  matplotlib.pyplot  as plt

In [25]:
edu = pd.read_csv('educ_figdp_1_Data.csv',
                na_values = ':' ,
                usecols = [ 'TIME' , 'GEO' , 'Value' ])
edu.head()

   TIME                            GEO  Value
0  2000  European Union (28 countries)    NaN
1  2001  European Union (28 countries)    NaN
2  2002  European Union (28 countries)   5.00
3  2003  European Union (28 countries)   5.03
4  2004  European Union (28 countries)   4.95

# Question 1

a) In M1_Eurostat notebook.

b) In M1_Eurostat notebook.

c) In M1_Eurostat notebook.

d) In M1_Eurostat notebook.

e) In M1_Eurostat notebook.

# Question 2

In M1_Eurostat notebook.

# Question 3

In M1_Eurostat notebook

# Question 4

In [24]:
#means = edu[['TIME','GEO']].groupby('TIME').mean() 

#means

There is no numerical data that the mean can be taken of. It is not possible to use a numerical term being used when there is no numerical data.

# Question 5

In M1_Eurostat notebook.

# Question 6

In M1_Eurostat notebook.

# Question 7

In M1_Eurostat notebook.